.table {
	table-layout:fixed;
}

span.input-group-addon{
    border: 0px;
    padding: 0px;
}

td select {
    min-width: 10px;
    max-width: 100%; 
    width: 100%;
}

select {
	border: 0px;
}

th input {
    min-width: 10px;
    max-width: 100%; 
    width: 100%;
}

td input {
    min-width: 10px;
    max-width: 100%; 
    width: 100%;
}

input[type=number]{
	text-align: right;
	border: 0px;
}

.table th{
	text-align: center;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.table-condensed {
        width: 100%;
        border-collapse: collapse;
    }
    
.table-condensed>thead>tr>th, 
.table-condensed>tbody>tr>th, 
.table-condensed>tfoot>tr>th, 
.table-condensed>thead>tr>td, 
.table-condensed>tbody>tr>td, 
.table-condensed>tfoot>tr>td {
    padding: 0px 0px 0px 0px;
    font-size: 12px;
}

#footer{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}