/* reset css */
    nav, ol, ul, li{
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;      
    }

    .nav a, .nav label {
      display: block;
      padding: .85rem;
      color: #fff;
      background-color: #9E9E9E;
      box-shadow: inset 0 -1px #F1F1F1;
      -webkit-transition: all .25s ease-in;
      transition: all .25s ease-in;
    }

    .nav a:focus, .nav a:hover, .nav label:focus, .nav label:hover {
      color: rgba(255, 255, 255, 0.5);
      background: #2196F3;
    }

    .nav label { cursor: pointer; }

    /* Styling first level lists items */
    .group-list a, .group-list label {
      padding-left: 2rem;
      background: #252525;
      box-shadow: inset 0 -1px #373737;
    }

    .group-list a:focus, .group-list a:hover, .group-list label:focus, .group-list label:hover { background: #131313; }

    /* Styling second level list items */
    .sub-group-list a, .sub-group-list label {
      padding-left: 3rem;
      background: #353535;
      box-shadow: inset 0 -1px #474747;
    }

    .sub-group-list a:focus, .sub-group-list a:hover, .sub-group-list label:focus, .sub-group-list label:hover { background: #232323; }

    /*Styling third level list items */
    .sub-sub-group-list a, .sub-sub-group-list label {
      padding-left: 4rem;
      background: #454545;
      box-shadow: inset 0 -1px #575757;
    }

    .sub-sub-group-list a:focus, .sub-sub-group-list a:hover, .sub-sub-group-list label:focus, .sub-sub-group-list label:hover { background: #333333; }

    /* Hide nested lists */
    .group-list, .sub-group-list, .sub-sub-group-list {
      height: 100%;
      max-height: 0;
      overflow: hidden;
      -webkit-transition: max-height .5s ease-in-out;
      transition: max-height .5s ease-in-out;
    }

    /* reset the height when checkbox is checked */
    .nav__list input[type=checkbox]:checked + label + ul { 
        max-height: 1000px; }

    /*Rotating chevron icon */
    label > span {
      float: right;
      -webkit-transition: -webkit-transform .65s ease;
      transition: transform .65s ease;
    }

    .nav__list input[type=checkbox]:checked + label > span {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }
